@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  margin-top: 120px;

  .text {
    text-align: center;
    margin-bottom: 24px;

    p {
      width: 60%;
      max-width: config.$max-widthHeigh;
      margin: 12px auto;
      color: config.$grey;

      @include mixins.mobile {
        width: calc(100% - 24px);
      }
      @include mixins.tabletPortrait {
        width: 80%;
      }
      @include mixins.tabletLandscape {
        width: 80%;
      }
    }
  }

  .contact {
    color: config.$white;
    background: config.$dark;
    padding: 24px 0px;

    .contactBox {
      margin: auto;
      width: config.$content-width;
      max-width: config.$max-widthHeigh;
      @include mixins.row-space-between-center();

      @include mixins.mobile {
        display: flex;
        flex-direction: column;
        width: calc(100% - 24px);
      }
      @include mixins.tabletPortrait {
        width: config.$content-widthTablet;
      }
      @include mixins.tabletLandscape {
        width: config.$content-widthTablet;
      }
    }

    div {
      width: 100%;

      @include mixins.mobile {
        margin: 8px 0px;
      }

      .phone {
        &:hover {
          color: config.$brand;
          cursor: pointer;
        }
      }

      .direction {
        width: fit-content;
        border-bottom: 1px solid config.$white;

        &:hover {
          color: config.$brand;
          border-bottom: 1px solid config.$brand;
          cursor: pointer;
        }
      }
    }
  }
}

.formBox {
  width: 60%;
  margin: 50px auto;
  max-width: config.$max-widthHeigh;
  text-align: center;
  user-select: none;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletLandscape {
    width: config.$content-widthTablet;
  }

  h4 {
    margin-bottom: 12px;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 8px;

    @include mixins.mobile {
      display: flex;
      flex-direction: column;
      gap: 0px;
    }
  }

  .input {
    margin: 12px 0px;
  }

  .bar {
    @include mixins.row-space-between-center();
    margin-bottom: 8px;
    font-size: medium;
  }

  .label {
    color: config.$grey;

    span {
      color: config.$brand;
    }
  }

  .count {
    font-size: small;
  }

  input,
  textarea {
    @include mixins.input();
    width: 100%;
  }

  textarea {
    height: 250px;
    max-height: 250px;
    min-height: 250px;
    max-width: 100%;
    min-width: 100%;
  }

  .formAction {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      @include mixins.button(config.$brand, config.$white);
    }

    .alert {
      height: 20px;
      margin: 16px 0px;
      color: config.$brand;
      font-size: medium;
    }

    .notification {
      width: 40%;
      padding: 12px;
      margin-top: 16px;
      background: config.$dark;
      color: config.$white;
      @include mixins.border-radius(5px);

      @include mixins.mobile {
        width: 100%;
      }
    }
  }
}
