@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: 120px auto;

  .text {
    text-align: center;
    margin: 50px auto;

    @include mixins.mobile {
      width: calc(100% - 24px);
      text-align: left;
    }

    p {
      width: config.$content-widthText;
      max-width: config.$max-widthHeigh;
      margin: 12px auto;
      text-align: left;

      @include mixins.mobile {
        width: 100%;
      }
    }
  }

  .contact {
    position: relative;
    margin-bottom: 50px;

    .imageBox {
      position: relative;
      width: 100%;
      aspect-ratio: 16 / 9;

      @include mixins.allDesktop {
        height: 100dvh;
      }
    }

    .overlay {
      position: absolute;
      width: 100%;
      bottom: 0px !important;
      color: config.$white;
      max-width: config.$max-widthHeigh;
      @include mixins.transparentBackground(0.4, config.$dark);

      @include mixins.mobile {
        position: relative;
        background: config.$dark;
      }
    }

    .row {
      margin: auto;
      width: config.$content-widthText;
      display: flex;
      flex-direction: row;
      padding: 24px 0px;

      @include mixins.mobile {
        display: flex;
        flex-direction: column;
        width: calc(100% - 24px);
      }

      @include mixins.tabletPortrait {
        width: config.$content-width;
      }
      @include mixins.tabletLandscape {
        width: config.$content-width;
      }
    }

    .item {
      width: 100%;

      @include mixins.mobile {
        margin: 8px 0px;
      }

      h4 {
        margin: 8px 0px;
      }

      .phone {
        width: fit-content;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
