@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: 120px auto;

  .text {
    text-align: center;
    margin: 50px auto;

    @include mixins.mobile {
      width: calc(100% - 24px);
      text-align: left;
    }

    h2 {
      margin-bottom: 24px;
      text-transform: uppercase;
    }

    p {
      width: 60%;
      max-width: config.$max-widthHeigh;
      margin: 12px auto;
      text-align: left;

      @include mixins.mobile {
        width: 100%;
      }
      @include mixins.tabletPortrait {
        width: 80%;
      }
      @include mixins.tabletLandscape {
        width: 80%;
      }
    }
  }

  .contact {
    color: config.$white;
    background: config.$dark;
    padding: 50px 0px;

    .contactBox {
      margin: auto;
      width: config.$content-width;
      max-width: config.$max-widthHeigh;
      @include mixins.row-space-between-center();

      @include mixins.mobile {
        display: flex;
        flex-direction: column;
        width: calc(100% - 24px);
      }
      @include mixins.tabletPortrait {
        width: config.$content-widthTablet;
      }
      @include mixins.tabletLandscape {
        width: config.$content-widthTablet;
      }
    }

    div {
      width: 100%;

      @include mixins.mobile {
        margin: 8px 0px;
      }

      .phone {
        width: fit-content;

        &:hover {
          color: config.$brand;
          cursor: pointer;
        }
      }

      .direction {
        width: fit-content;
        border-bottom: 1px solid config.$white;

        &:hover {
          color: config.$brand;
          border-bottom: 1px solid config.$brand;
          cursor: pointer;
        }
      }
    }
  }
}
