@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.form {
  position: relative;
  width: 500px;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  .input {
    margin: 24px auto;

    .bar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    .label {
      color: config.$grey;
      font-size: medium;
    }

    input {
      @include mixins.input();
      width: 100%;
    }
  }

  .formAction {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      @include mixins.button(config.$brand, config.$white);
    }
  }

  .alert {
    height: 20px;
    margin: 16px 0px;
    color: config.$brand;
    font-size: medium;
  }
}
