@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 100px;

  .navigation {
    width: 50%;
    height: fit-content;
    text-transform: capitalize;
    font-size: medium;
    margin: auto;
    @include mixins.row-space-between-center();
    max-width: config.$max-widthHeigh;
    user-select: none;

    @include mixins.mobile {
      width: calc(100% - 24px);
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
      gap: 12px;
    }
    @include mixins.allDesktop {
      width: 40%;
    }

    .nav {
      &:hover {
        cursor: pointer;
        color: config.$brand;
      }
    }

    .navActive {
      color: config.$brand;
    }
  }
}

.gridLayout,
.gridLayoutVertical {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 12px;
  margin: auto;
  margin-top: 50px;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;

  .column {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .card {
    position: relative;
    user-select: none;

    .visibility {
      position: absolute;
      top: 8px;
      left: 8px;
      z-index: 1;
      display: flex;
      padding: 2px;
      background: config.$background;
    }
  }

  .imageBoxLandscape,
  .imageBoxPortrait {
    position: relative;
    aspect-ratio: 16 / 9;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.03);
      cursor: pointer;
    }
  }
  .imageBoxPortrait {
    aspect-ratio: 4 / 4;
  }

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    width: config.$content-widthTablet;
  }
  @include mixins.tabletLandscape {
    width: config.$content-widthTablet;
  }
}

.gridLayoutVertical {
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: calc(100% - 24px);
  }

  .overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease;
    @include mixins.transparentBackground(0.5, config.$dark);
  }
  .overlay h4 {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: config.$white;
    user-select: none;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .imageBoxLandscape:hover .overlay {
    opacity: 1;
  }
  .imageBoxLandscape:hover .overlay h4 {
    opacity: 1;
  }
  .imageBoxLandscape:hover .image {
    transform: scale(1.05);
  }
  .imageBoxPortrait:hover .overlay {
    opacity: 1;
  }
  .imageBoxPortrait:hover .overlay h4 {
    opacity: 1;
  }
  .imageBoxPortrait:hover .image {
    transform: scale(1.05);
  }
}

.controlPanel {
  @include mixins.row-space-between-center();
  margin: auto;
  width: 10%;

  @include mixins.mobile {
    width: 25%;
    margin-bottom: 12px;
  }
  @include mixins.tabletPortrait {
    width: 15%;
  }
}

.cardBox {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 100px;

  .info,
  .imageBoxLandscape,
  .imageBoxPortrait,
  .description {
    width: config.$content-width;
    max-width: config.$max-widthHeigh;
    margin: auto;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletLandscape {
      width: config.$content-widthTablet;
    }
  }

  .imageBoxLandscape,
  .imageBoxPortrait {
    position: relative;
    aspect-ratio: 16 / 9;
    margin: 12px auto;
    user-select: none;
  }
  .imageBoxPortrait {
    aspect-ratio: 4 / 4;
  }

  .swiperImage {
    position: relative;
    aspect-ratio: 4 / 3;
    user-select: none;
    cursor: grab;

    @include mixins.mobile {
      width: calc(100% - 24px);
      margin: auto;
    }
  }

  .control {
    display: flex;
    position: absolute;
    z-index: 2;
    left: 8px;
    top: 8px;
    padding: 4px;
    background: config.$background;
  }

  .button {
    display: flex;
    justify-content: center;
    margin-top: 24px;

    button {
      @include mixins.button(config.$brand, config.$black, config.$white);
    }
  }

  .description {
    margin: auto;
    margin-top: 50px;

    p {
      margin-bottom: 12px;
    }
  }
}

.gallerySlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: calc(100dvh - 24px);
  background: config.$background;
  overflow: hidden;

  .icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 24px 0px;
    direction: rtl;
  }
}
