@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 100px;

  .navigation {
    width: 50%;
    height: fit-content;
    text-transform: capitalize;
    font-size: medium;
    margin: auto;
    @include mixins.row-space-between-center();
    max-width: config.$max-widthHeigh;
    user-select: none;

    @include mixins.mobile {
      width: calc(100% - 24px);
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
      gap: 12px;
    }

    @include mixins.tabletPortrait {
      width: 90%;
    }
    @include mixins.tabletLandscape {
      width: 60%;
    }

    .nav {
      &:hover {
        cursor: pointer;
        color: config.$brand;
      }
    }

    .navActive {
      color: config.$brand;
    }
  }
}

.gridLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 24px;
  margin: auto;
  margin-top: 50px;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;

  .card {
    position: relative;
    user-select: none;
    cursor: pointer;

    .visibility {
      position: absolute;
      top: 8px;
      left: 8px;
      z-index: 1;
      display: flex;
      padding: 2px;
      background: config.$background;
    }

    &:hover {
      h4 {
        color: config.$brand;
      }
    }
  }

  .imageBox {
    position: relative;
    aspect-ratio: 16 / 9;
  }

  h4 {
    margin: 8px 0px;
  }

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    width: config.$content-widthTablet;
  }
  @include mixins.tabletLandscape {
    width: config.$content-widthTablet;
  }
}

.controlPanel {
  @include mixins.row-space-between-center();
  margin: auto;
  width: 15%;

  @include mixins.mobile {
    width: 20%;
  }
}

.cardBox {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 100px;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletLandscape {
    width: config.$content-widthTablet;
  }

  .imageBox {
    position: relative;
    aspect-ratio: 16 / 9;
    margin: 24px 0px;
    user-select: none;
  }

  .control {
    display: flex;
    position: absolute;
    z-index: 2;
    left: 8px;
    top: 8px;
    padding: 4px;
    background: config.$background;
  }

  .description {
    margin-top: 12px;
  }
}
