@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 100px;

  .navigation {
    width: 50%;
    height: fit-content;
    text-transform: capitalize;
    font-size: medium;
    margin: auto;
    @include mixins.row-space-between-center();
    max-width: config.$max-widthHeigh;
    user-select: none;

    @include mixins.mobile {
      width: calc(100% - 24px);
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
      gap: 12px;
    }

    @include mixins.tabletPortrait {
      width: 90%;
    }
    @include mixins.tabletLandscape {
      width: 60%;
    }

    .nav {
      &:hover {
        cursor: pointer;
        color: config.$brand;
      }
    }

    .navActive {
      color: config.$brand;
    }
  }
}

.gridLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 24px;
  margin: auto;
  margin-top: 50px;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;

  .card {
    position: relative;
    cursor: pointer;
    user-select: none;

    .visibility {
      position: absolute;
      top: 8px;
      right: 8px;
      z-index: 1;
    }
  }

  .imageBox {
    position: relative;
    aspect-ratio: 16 / 9;
    box-shadow: config.$card-shadow;
  }

  h4 {
    margin-top: 8px;
  }

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    width: config.$content-widthTablet;
  }
  @include mixins.tabletLandscape {
    width: config.$content-widthTablet;
  }
}
