@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.formBox {
  width: 50%;
  margin: 50px auto;
  max-width: config.$max-widthHeigh;
  text-align: center;
  user-select: none;

  @include mixins.mobile {
    width: calc(100% - 24px);
    text-align: left;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletLandscape {
    width: 60%;
  }

  h4 {
    margin-bottom: 12px;
    text-transform: uppercase;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 8px;

    @include mixins.mobile {
      display: flex;
      flex-direction: column;
      gap: 0px;
    }
  }

  .input {
    margin: 12px 0px;
  }

  .bar {
    @include mixins.row-space-between-center();
    margin-bottom: 8px;
    font-size: medium;
  }

  .label {
    color: config.$grey;

    span {
      color: config.$brand;
    }
  }

  .count {
    font-size: small;
  }

  input,
  textarea {
    @include mixins.input();
    width: 100%;
  }

  textarea {
    height: 250px;
    max-height: 250px;
    min-height: 250px;
    max-width: 100%;
    min-width: 100%;
  }

  .formAction {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      @include mixins.button(config.$brand, config.$white);
    }

    .alert {
      height: 20px;
      margin: 16px 0px;
      color: config.$brand;
      font-size: medium;
    }
  }

  .notification {
    width: 40%;
    padding: 12px;
    margin-top: 16px;
    background: config.$dark;
    color: config.$white;

    @include mixins.mobile {
      width: 100%;
    }
  }
}
