@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.navigation {
  width: 20%;
  height: 40px;
  text-transform: capitalize;
  font-size: medium;
  margin: auto;
  @include mixins.row-space-between-center();

  @include mixins.mobile {
    width: 40%;
  }
  @include mixins.tabletPortrait {
    width: 30%;
  }
  @include mixins.tabletLandscape {
    width: 30%;
  }

  .nav {
    &:hover {
      cursor: pointer;
      color: config.$brand;
    }
  }

  .navActive {
    color: config.$brand;
    border-bottom: 1px solid config.$brand;
  }
}
