@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.navigation {
  width: 30%;
  height: 40px;
  border: 1px solid config.$lightgrey;
  text-transform: capitalize;
  font-size: medium;
  @include mixins.border-radius(50px);
  @include mixins.row-space-between-center();
  justify-content: space-around;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    width: 40%;
  }
  @include mixins.tabletLandscape {
    width: 40%;
  }

  .nav {
    &:hover {
      cursor: pointer;
      color: config.$brand;
    }
  }

  .navActive {
    color: config.$brand;
  }
}
