@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navigation {
  width: 20%;
  height: fit-content;
  text-transform: capitalize;
  margin: auto;
  max-width: config.$max-widthHeigh;
  user-select: none;
  padding: 10px 0px;
  @include mixins.row-space-between-center();
  text-transform: uppercase;

  @include mixins.mobile {
    width: 60%;
  }
  @include mixins.tabletPortrait {
    width: 30%;
  }
  @include mixins.tabletLandscape {
    width: 30%;
  }

  .nav,
  .navActive {
    width: fit-content;
    font-size: small;
    font-family: "RobotoRegular";
  }
  .nav {
    &:hover {
      cursor: pointer;
      color: config.$grey;
    }
  }
  .navActive {
    color: config.$grey;
  }
}

.gridLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 12px;
  margin: 50px auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    width: config.$content-width;
  }
  @include mixins.tabletLandscape {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    width: config.$content-width;
  }

  .item {
    padding: 12px;
    height: fit-content;
    text-align: left;
    border: 1px solid config.$lightGrey;
    background: config.$white;

    &:hover {
      border: 1px solid config.$dark;
    }

    .row {
      @include mixins.row-space-between-center();
      margin-top: 8px;

      .title {
        color: config.$grey;
        font-size: medium;
      }
    }

    .message {
      margin-bottom: 12px;

      p {
        margin-bottom: 8px;
      }
    }
  }
}
