@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navigation {
  width: 20%;
  height: fit-content;
  text-transform: capitalize;
  font-size: medium;
  margin: auto;
  @include mixins.row-space-between-center();
  user-select: none;

  @include mixins.mobile {
    width: 50%;
  }
  @include mixins.tabletPortrait {
    width: 40%;
  }
  @include mixins.tabletLandscape {
    width: 40%;
  }

  .nav {
    &:hover {
      cursor: pointer;
      color: config.$brand;
    }
  }

  .navActive {
    color: config.$brand;
  }
}

.gridLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 8px;
  margin: 50px auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    width: config.$content-widthTablet;
  }
  @include mixins.tabletLandscape {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    width: config.$content-widthTablet;
  }

  .item {
    padding: 8px;
    height: fit-content;
    text-align: left;
    border: 1px solid config.$lightgrey;
    background: config.$white;

    &:hover {
      border: 1px solid config.$brand;
    }

    .row {
      @include mixins.row-space-between-center();
      margin-top: 8px;

      .title {
        color: config.$grey;
        font-size: medium;
      }
    }

    .message {
      margin-bottom: 16px;

      p {
        margin-bottom: 8px;
      }
    }
  }
}
