@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.slider {
  position: relative;
  margin: auto;
  user-select: none;

  .media {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
    aspect-ratio: 4 / 3.5;

    .image {
      object-position: 50% 0%;
    }

    @include mixins.tabletLandscape {
      aspect-ratio: 16 / 9;
      height: 100dvh;
    }
    @include mixins.desktop {
      aspect-ratio: 16 / 9;
      height: 100dvh;
    }
    @include mixins.fourK {
      aspect-ratio: 16 / 9;
      height: 100dvh;
    }
  }

  .video {
    width: 100%;
    height: 100dvh;
    object-fit: cover;

    @include mixins.desktop {
      height: 100dvh;
    }
    @include mixins.fourK {
      height: 100dvh;
    }
  }
}

.information {
  @include mixins.row-space-between-center();
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  color: config.$white;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  cursor: pointer;

  @include mixins.mobile {
    width: calc(100% - 24px);
    font-size: small;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletLandscape {
    width: config.$content-widthTablet;
  }
}
