@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.slider {
  position: relative;
  margin: auto;
  user-select: none;

  .image {
    position: relative;
    width: 100%;
    height: auto;
    background: config.$black;
    aspect-ratio: 4 / 3.5;

    @include mixins.tabletLandscape {
      aspect-ratio: 16 / 9;
      height: 100dvh;
    }
    @include mixins.allDesktop {
      aspect-ratio: 16 / 9;
      height: 100dvh;
    }
  }
}

.information {
  @include mixins.row-space-between-center();
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  color: config.$white;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  cursor: pointer;

  @include mixins.mobile {
    width: calc(100% - 24px);
    font-size: small;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletLandscape {
    width: config.$content-widthTablet;
  }
}
