@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.slider {
  position: relative;
  margin: auto;
  user-select: none;
  height: 100dvh;
  background: config.$black;

  .video {
    position: relative;
    width: 100%;
    height: 100dvh;
    aspect-ratio: 16 / 9;
    object-fit: cover;

    @include mixins.allDesktop {
      object-position: 50% 35%;
    }
  }
}

.sliderInfoTop,
.sliderInfoBottom {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 100%;
  overflow: hidden;
  color: config.$white;

  .slideTrack {
    display: flex;
    width: calc(350px * 10);
    animation: scroll 50s linear infinite;
    text-transform: uppercase;

    @include mixins.mobile {
      width: calc(220px * 10);
    }
  }

  .slideItem {
    width: 100%;
    padding: 20px 0px;

    &:hover {
      cursor: pointer;
      color: config.$brand;
    }
  }
}

.sliderInfoTop {
  bottom: 65px;
  border-bottom: 3px solid config.$white;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.sliderInfoTop:hover .slideTrack {
  animation-play-state: paused;
}
.sliderInfoBottom:hover .slideTrack {
  animation-play-state: paused;
}
