@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
  margin: auto;
  user-select: none;
  height: 100dvh;
  background: config.$dark;

  .media {
    position: relative;
    height: 100dvh;
    cursor: pointer;
  }

  .video {
    position: relative;
    width: 100%;
    height: 100dvh;
    object-fit: cover;

    @include mixins.allDesktop {
      object-position: 50% 55%;
    }
  }

  .control {
    position: absolute;
    z-index: 1;
    top: 15%;
    right: 2.5%;
    color: config.$white;
  }
}

.sliderBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 5px;
  width: 100vw;
  max-width: 100%;
  transform: translateX(-50%);
  color: config.$white;
  text-transform: uppercase;
  overflow: hidden;
}

.sliderInfoTop,
.sliderInfoBottom {
  width: 100%;
  overflow: hidden;

  .slideTrackTop,
  .slideTrackBottom {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    animation: scroll 100s linear infinite;
    will-change: transform;
  }

  .item {
    flex-shrink: 0;
    white-space: nowrap;
    width: fit-content;
    padding: 10px 80px;

    @include mixins.allDesktop {
      &:hover {
        cursor: pointer;
        color: config.$grey;
      }
    }
  }
}

.sliderInfoTop {
  border-bottom: 1px solid config.$white;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.sliderInfoTop:hover .slideTrackTop {
  animation-play-state: paused;
}
.sliderInfoBottom:hover .slideTrackBottom {
  animation-play-state: paused;
}
