@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  height: 100px;
  margin: auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  @include mixins.row-space-between-center();

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tabletLandscape {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }

  .fullSizeNavigation {
    width: 50%;
    @include mixins.row-space-between-center();

    @include mixins.mobile {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
      gap: 4px;
    }
  }

  .nav {
    cursor: pointer;

    &:hover {
      color: config.$brand;
    }
  }

  .navActive {
    cursor: pointer;
  }

  .icon {
    margin-right: 8px;

    @include mixins.mobile {
      margin-right: 4px;
    }

    &:hover {
      color: config.$brand;
      cursor: pointer;
    }
  }
}
