@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  height: 100px;
  margin: auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  @include mixins.row-space-between-center();
  user-select: none;
  text-transform: uppercase;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    padding: 12px;
    height: fit-content;
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletLandscape {
    width: config.$content-widthTablet;
  }

  .fullSizeNavigation {
    width: 40%;
    @include mixins.row-space-between-center();

    @include mixins.mobile {
      width: 100%;
      margin-bottom: 12px;
    }
  }

  .nav {
    text-align: center;
    cursor: pointer;

    &:hover {
      color: config.$brand;
    }
  }

  .navActive {
    text-align: center;
    color: config.$brand;
    cursor: pointer;
  }

  .icons {
    min-width: 15%;
    @include mixins.row-space-between-center();

    @include mixins.mobile {
      width: 40%;
      scale: 0.8;
    }
    @include mixins.tabletPortrait {
      width: 30%;
    }
    @include mixins.tabletLandscape {
      width: 20%;
    }

    .icon {
      display: flex;

      &:hover {
        color: config.$brand;
        cursor: pointer;
      }
    }
  }
}
