@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  height: 100px;
  margin: auto;
  width: config.$content-width;
  max-width: config.$max-width;
  @include mixins.row-space-between-center();
  user-select: none;
  text-transform: uppercase;
  margin-top: 50px;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: calc(100% - 24px);
    padding: 12px 0px;
  }
  @include mixins.tabletPortrait {
    width: config.$content-width;
  }
  @include mixins.tabletLandscape {
    width: config.$content-width;
  }

  .fullSizeNavigation {
    width: 25%;
    @include mixins.row-space-between-center();

    @include mixins.mobile {
      width: 100%;
      margin-bottom: 24px;
    }
    @include mixins.tabletPortrait {
      width: 40%;
    }
    @include mixins.tabletLandscape {
      width: 40%;
    }
  }

  .nav {
    font-size: small;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: config.$grey;
    }
  }

  .navActive {
    font-size: small;
    text-align: center;
    color: config.$grey;
    cursor: pointer;
  }

  .icons {
    @include mixins.row-space-between-center();

    @include mixins.mobile {
      margin-bottom: 12px;
    }

    .icon {
      display: flex;
      margin-left: 8px;

      &:hover {
        color: config.$grey;
        cursor: pointer;
      }
    }
  }
}
