@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  user-select: none;

  @include mixins.mobile {
    justify-content: center;
    text-align: center;
    margin-top: 25%;
  }
  @include mixins.tabletPortrait {
    justify-content: center;
    text-align: center;
    margin-top: 10%;
  }
  @include mixins.tabletLandscape {
    justify-content: center;
    text-align: center;
    margin-top: 10%;
  }

  .swiper {
    text-align: center;
  }

  .image {
    aspect-ratio: 16 / 7;
    cursor: grab;

    @include mixins.mobile {
      aspect-ratio: 16 / 16;
    }
    @include mixins.tabletPortrait {
      aspect-ratio: 16 / 16;
    }
  }
}
