@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
  user-select: none;
  text-transform: uppercase;
  width: 100%;

  .fullMenu {
    margin: auto;
    width: config.$content-width;
    max-width: config.$max-width;
    @include mixins.row-space-between-center();
  }

  .fullNavigation {
    width: 25%;
    @include mixins.row-space-between-center();

    @include mixins.tabletPortrait {
      width: 40%;
    }
    @include mixins.tabletLandscape {
      width: 40%;
    }
  }

  .control {
    position: relative;
    z-index: 4;
  }

  .mobileNavigation {
    position: absolute;
    z-index: 3;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 60%;
    background: config.$dark;

    .nav {
      color: config.$white;
    }

    .mobileNavigation {
      overflow: hidden;
    }

    .nav,
    .navActive {
      opacity: 0;
      transform: translateY(80px) scale(0.95);
      animation: slideUp 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
      will-change: transform, opacity;
      margin: 24px 0px;
    }

    @keyframes slideUp {
      from {
        opacity: 0;
        transform: translateY(80px) scale(0.95);
      }

      to {
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }
  }

  .nav {
    font-size: small;
    cursor: pointer;

    &:hover {
      color: config.$grey;
    }

    @include mixins.mobile {
      font-size: medium;
    }
  }

  .navActive {
    font-size: small;
    color: config.$grey;
    cursor: pointer;

    @include mixins.mobile {
      font-size: medium;
    }
  }

  .portal {
    @include mixins.row-space-between-center();

    .logo {
      position: relative;
      width: 150px;
      height: 100px;
      cursor: pointer;
      margin-right: 24px;
    }
  }
}
