@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.letter {
  opacity: 0.3;
  display: inline-block;
  color: config.$grey;

  transform: translateY(2px);
  text-shadow: 0 0 0px rgba(255, 255, 255, 0);
  transition:
    opacity 0.25s ease,
    color 0.25s ease,
    text-shadow 0.4s ease;
}

.letter.show {
  opacity: 1;
  color: config.$white;
  text-shadow:
    0 0 4px rgba(255, 255, 255, 0.6),
    0 0 10px rgba(255, 255, 255, 0.35);
}
