@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: 120px auto;

  .navigation {
    width: 30%;
    height: fit-content;
    text-transform: capitalize;
    margin: auto;
    max-width: config.$max-widthHeigh;
    user-select: none;
    padding: 10px 0px;
    @include mixins.row-space-between-center();
    text-transform: uppercase;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: 50%;
    }
    @include mixins.tabletLandscape {
      width: 50%;
    }

    .nav {
      width: fit-content;
      font-size: small;

      &:hover {
        cursor: pointer;
        color: config.$dark;
      }
    }

    .navActive {
      width: fit-content;
      font-size: medium;
      font-family: "RobotoRegular";
    }
  }

  .title {
    display: flex;
    justify-content: center;
    margin: 12px auto;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
  }
}

.gridLayout,
.gridLayoutVertical {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 12px;
  margin: 50px auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  user-select: none;

  .column {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .card {
    position: relative;
    user-select: none;

    .visibility {
      position: absolute;
      top: 8px;
      left: 8px;
      z-index: 1;
      display: flex;
      padding: 2px;
      background: config.$background;
    }

    .description {
      margin: auto;

      @include mixins.mobile {
        width: calc(100% - 24px);
      }
    }
  }

  .imageBoxLandscape,
  .imageBoxPortrait {
    position: relative;
    aspect-ratio: 16 / 10;
    overflow: hidden;
    cursor: pointer;
  }

  .imageBoxPortrait {
    aspect-ratio: 4 / 5;
  }

  .imageInner {
    width: 100%;
    height: 100%;
  }

  .imageInner {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    will-change: transform;
  }

  .imageBoxLandscape:hover .imageInner,
  .imageBoxPortrait:hover .imageInner {
    transform: scale(1.02);
  }

  .imageInner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: 100%;
  }
  @include mixins.tabletPortrait {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
}

.gridLayoutVertical {
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: 100%;
  }

  .overlay {
    position: absolute;
    bottom: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 12px 0px;
    color: config.$white;
    transition: opacity 0.4s ease;
    backdrop-filter: blur(5px) saturate(120%);

    h3 {
      @include mixins.mobile {
        width: 80%;
      }
    }
  }
}

.newsImageBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 12px;
  margin: 50px auto;
  max-width: config.$max-widthHeigh;
  width: config.$content-widthText;

  user-select: none;

  .imageBox {
    margin: 0px !important;

    &:hover {
      cursor: auto;
    }
  }

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: 100%;
  }
  @include mixins.tabletPortrait {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    width: 100%;
  }
  @include mixins.tabletLandscape {
    width: 100%;
  }
}

.controlPanel {
  @include mixins.row-space-between-center();
  margin: 12px auto;
  width: 10%;

  @include mixins.mobile {
    width: 25%;
  }
  @include mixins.tabletPortrait {
    width: 15%;
  }
}

.cardBox {
  margin: 100px auto;

  .info,
  .imageBoxLandscape,
  .imageBoxPortrait,
  .description {
    width: config.$content-width;
    max-width: config.$max-widthHeigh;
    margin: auto;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
  }

  .description {
    @include mixins.allDesktop {
      width: config.$content-widthText;
    }
  }
  .info {
    margin: 24px auto;

    @include mixins.allDesktop {
      width: config.$content-widthText;
    }
  }

  .subTitle {
    margin-bottom: 12px;
  }

  .link {
    width: fit-content;
    color: config.$text;
    border-bottom: 1px solid config.$text;

    &:hover {
      cursor: pointer;
      color: config.$brand;
      border-bottom: 1px solid config.$brand;
    }
  }

  .imageBoxLandscape,
  .imageBoxPortrait {
    position: relative;
    aspect-ratio: 16 / 9;
    margin: auto;
    user-select: none;
  }
  .imageBoxPortrait {
    aspect-ratio: 4 / 3;

    @include mixins.mobile {
      aspect-ratio: 4 / 5;
    }
  }

  .heroBase {
    margin: auto;
    max-width: config.$max-widthHeigh;

    @include mixins.mobile {
      width: 100%;
    }

    .imageBoxLandscape,
    .imageBoxPortrait {
      width: 100%;
    }
  }

  .hero {
    @extend .heroBase;
  }

  .heroNews {
    position: relative;
    @extend .heroBase;

    @include mixins.mobile {
      width: 100%;
    }

    .imageBoxLandscape {
      height: calc(100dvh - 100px);

      @include mixins.mobile {
        height: 300px;
      }
    }

    .overlay {
      position: absolute;
      width: 100%;
      bottom: 0px !important;
      color: config.$white;
      max-width: config.$max-widthHeigh;
      @include mixins.transparentBackground(0.4, config.$dark);
      height: fit-content;
      @include mixins.mobile {
        position: relative;
        background: config.$dark;
      }

      .row {
        margin: auto;
        width: config.$content-widthText;
        @include mixins.row-space-between-center();
        padding: 24px 0px;

        @include mixins.mobile {
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        @include mixins.tabletPortrait {
          width: config.$content-width;
        }
        @include mixins.tabletLandscape {
          width: config.$content-width;
        }

        h1 {
          width: 45%;

          @include mixins.mobile {
            width: calc(100% - 24px);
          }
        }

        .info {
          width: 55%;
          margin: auto;

          @include mixins.mobile {
            width: calc(100% - 24px);
            margin-top: 24px;
          }
        }
      }
    }
  }

  .imageBox {
    position: relative;
    user-select: none;
    margin: 12px auto;
    max-width: config.$max-widthHeigh;
    cursor: pointer;

    @include mixins.mobile {
      width: 100%;
    }
  }

  .control {
    display: flex;
    position: absolute;
    z-index: 2;
    left: 8px;
    top: 8px;
    padding: 4px;
    background: config.$background;
  }
}

.gallerySlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  overflow: hidden;
  @include mixins.transparentBackground(0.05, config.$dark);

  .icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: config.$content-width;
    margin: 24px 0px;
    direction: rtl;
    color: config.$white;
  }
}

.constructionLayout {
  width: config.$content-widthText;
  margin: 50px auto;
  max-width: config.$max-widthHeigh;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    width: config.$content-width;
  }
  @include mixins.tabletLandscape {
    width: config.$content-width;
  }

  .section {
    margin-bottom: 50px;

    .row {
      @include mixins.row-space-between-center();

      @include mixins.mobile {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    .boxRow {
      width: 35%;

      @include mixins.mobile {
        width: calc(100% + 24px);
      }

      p {
        font-size: small;

        @include mixins.mobile {
          margin: auto;
          margin-top: 4px;
          width: calc(100% - 24px);
        }
      }
    }

    .imageBoxGrid,
    .imageBoxGridRow {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
      gap: 8px;
      width: 35%;
      font-size: small;
      user-select: none;

      .imageFrame {
        position: relative;
        aspect-ratio: 4 / 3;
      }

      @include mixins.mobile {
        width: calc(100% + 24px);
        margin-top: 24px;

        p {
          margin: auto;
          margin-top: 4px;
          width: calc(100% - 24px);
        }
      }
    }

    .imageBoxGridRow {
      width: 100%;
    }

    .infoBox {
      width: 60%;

      h2 {
        margin-bottom: 12px;
      }
      h3 {
        margin: 8px 0px;
      }

      @include mixins.mobile {
        width: 100%;
      }
    }

    .imageBox {
      width: 35%;
      user-select: none;

      @include mixins.mobile {
        width: calc(100% + 24px);
        margin-top: 24px;
      }

      p {
        font-size: small;

        @include mixins.mobile {
          margin: auto;
          margin-top: 4px;
          width: calc(100% - 24px);
        }
      }
    }

    h2,
    h4 {
      font-family: "RobotoRegular";
    }
    p {
      margin: 8px 0px;
    }
  }
}
