@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: 120px auto;
  user-select: none;

  .navigation {
    width: 40%;
    height: fit-content;
    text-transform: capitalize;
    margin: auto;
    @include mixins.row-space-between-center();
    max-width: config.$max-widthHeigh;
    border-bottom: 1px solid config.$lightgrey;
    padding-bottom: 12px;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: 50%;
    }
    @include mixins.tabletLandscape {
      width: 50%;
    }

    .nav {
      width: fit-content;

      &:hover {
        cursor: pointer;
        color: config.$brand;
      }
    }

    .navActive {
      width: fit-content;
      color: config.$brand;
    }
  }

  .title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-transform: uppercase;
  }
}

.gridLayout,
.gridLayoutVertical {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 24px;
  margin: auto;
  margin-top: 24px;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;

  .column {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .card {
    position: relative;
    user-select: none;

    .visibility {
      position: absolute;
      top: 8px;
      left: 8px;
      z-index: 1;
      display: flex;
      padding: 2px;
      background: config.$background;
    }
  }

  .imageBoxLandscape,
  .imageBoxPortrait {
    position: relative;
    aspect-ratio: 16 / 9;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.02);
      cursor: pointer;
    }
  }
  .imageBoxPortrait {
    aspect-ratio: 4 / 4;
  }

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    width: config.$content-widthTablet;
  }
  @include mixins.tabletLandscape {
    width: config.$content-widthTablet;
  }
}

.gridLayoutVertical {
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: calc(100% - 24px);
  }

  .overlay {
    position: absolute;
    bottom: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px 0px;
    color: config.$white;
    transition: opacity 0.4s ease;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px) saturate(120%);
  }
}

.controlPanel {
  @include mixins.row-space-between-center();
  margin: auto;
  width: 10%;

  @include mixins.mobile {
    width: 25%;
    margin-bottom: 12px;
  }
  @include mixins.tabletPortrait {
    width: 15%;
  }
}

.cardBox {
  margin: 120px auto;

  .info,
  .imageBoxLandscape,
  .imageBoxPortrait,
  .description {
    width: config.$content-width;
    max-width: config.$max-widthHeigh;
    margin: auto;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletLandscape {
      width: config.$content-widthTablet;
    }
  }

  .info {
    margin-bottom: 24px;
  }
  .subTitle {
    margin-bottom: 12px;
  }

  .link {
    &:hover {
      cursor: pointer;
      color: config.$brand;
    }
  }

  .imageBoxLandscape,
  .imageBoxPortrait {
    position: relative;
    aspect-ratio: 16 / 9;
    margin: auto;
    user-select: none;
  }
  .imageBoxPortrait {
    aspect-ratio: 4 / 3;
  }

  .heroBase {
    margin: auto;
    width: config.$content-width;
    max-width: config.$max-widthHeigh;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }

    @include mixins.tabletLandscape {
      width: config.$content-widthTablet;
    }

    .imageBoxLandscape,
    .imageBoxPortrait,
    .description {
      width: 100%;
    }

    .description {
      margin: auto;
      margin-left: 50px;
    }
  }

  .hero {
    @extend .heroBase;
  }

  .heroNews {
    @extend .heroBase;
    margin-bottom: 24px;
    @include mixins.row-space-between-center();

    @include mixins.mobile {
      display: flex;
      flex-direction: column-reverse;
      width: calc(100% - 24px);
    }

    .description {
      @include mixins.mobile {
        margin-bottom: 24px !important;
        margin-left: 0px !important;
      }
    }
  }

  .imageBox {
    position: relative;
    aspect-ratio: 16 / 9;
    user-select: none;
    margin: 24px auto;
    width: config.$content-width;
    max-width: config.$max-widthHeigh;
    cursor: pointer;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
  }

  .control {
    display: flex;
    position: absolute;
    z-index: 2;
    left: 8px;
    top: 8px;
    padding: 4px;
    background: config.$background;
  }

  .description {
    margin: 50px auto;

    p {
      margin-bottom: 12px;
    }
  }
}

.gallerySlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  overflow: hidden;
  background: config.$background;

  .icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 24px 0px;
    direction: rtl;
  }
}
