@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: 120px auto;

  .navigation {
    width: 40%;
    height: fit-content;
    text-transform: capitalize;
    margin: auto;
    @include mixins.row-space-between-center();
    max-width: config.$max-widthHeigh;
    user-select: none;
    border-bottom: 1px solid config.$lightgrey;
    padding-bottom: 12px;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: 60%;
    }
    @include mixins.tabletLandscape {
      width: 60%;
    }

    .nav {
      width: fit-content;

      &:hover {
        cursor: pointer;
        color: config.$brand;
      }
    }

    .navActive {
      width: fit-content;
      color: config.$brand;
    }
  }

  .info {
    width: config.$content-width;
    max-width: config.$max-widthHeigh;
    margin: 50px auto;

    @include mixins.mobile {
      width: calc(100% - 24px);
      text-align: left;
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletLandscape {
      width: config.$content-widthTablet;
    }

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 12px 0px;

      p {
        margin-left: 4px;
      }
    }

    h2 {
      margin-bottom: 24px;
    }
  }
}

.gridLayout,
.publicationLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 8px;
  margin: auto;
  margin-top: 12px;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: 100%;
  }

  .item {
    padding: 8px;
    height: 50px;
    text-align: left;
    border: 1px solid config.$lightgrey;
    @include mixins.row-space-between-center();

    &:hover {
      color: config.$brand;
      border: 1px solid config.$brand;
      cursor: pointer;
    }
  }

  .award {
    padding: 8px;
    height: fit-content;
    border: 1px solid config.$lightgrey;
    text-align: left;
  }
}

.publicationLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 8px;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: 100%;
  }

  .publication {
    @include mixins.row-space-between-center();
    flex-direction: row-reverse;
    text-align: left;
    align-items: flex-start;
    margin-bottom: 8px;

    p {
      position: relative;
      bottom: 4px;
      margin-left: 4px;

      @include mixins.desktop {
        bottom: 6px;
      }
    }
  }
}
