@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 100px;

  .navigation {
    width: 40%;
    height: fit-content;
    text-transform: capitalize;
    margin: auto;
    @include mixins.row-space-between-center();
    max-width: config.$max-widthHeigh;
    user-select: none;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: 50%;
    }
    @include mixins.tabletLandscape {
      width: 50%;
    }

    .nav {
      &:hover {
        cursor: pointer;
        color: config.$brand;
      }
    }

    .navActive {
      color: config.$brand;
    }
  }

  .info {
    text-align: center;
    margin: 50px auto;

    @include mixins.mobile {
      width: calc(100% - 24px);
      text-align: left;
    }

    h3 {
      margin-bottom: 24px;
      text-transform: uppercase;
    }

    .text {
      margin: 12px auto;
      text-align: left;
      width: config.$content-width;
      max-width: config.$max-widthHeigh;

      @include mixins.mobile {
        width: 100%;
      }
      @include mixins.tabletPortrait {
        width: config.$content-widthTablet;
      }
      @include mixins.tabletLandscape {
        width: config.$content-widthTablet;
      }
    }
  }
}

.gridLayout,
.publicationLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 8px;
  margin: auto;
  margin-top: 12px;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: 100%;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletLandscape {
    width: config.$content-widthTablet;
  }

  .item {
    padding: 8px;
    height: 50px;
    text-align: left;
    border: 1px solid config.$lightgrey;
    @include mixins.row-space-between-center();

    &:hover {
      color: config.$brand;
      border: 1px solid config.$brand;
      cursor: pointer;
    }
  }

  .award {
    padding: 8px;
    height: fit-content;
    border: 1px solid config.$lightgrey;
    text-align: left;
  }
}

.publicationLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 8px;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: 100%;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletLandscape {
    width: config.$content-widthTablet;
  }

  .publication {
    @include mixins.row-space-between-center();
    flex-direction: row-reverse;
    text-align: left;
    align-items: flex-start;
    margin-bottom: 8px;

    p {
      width: 100%;
      margin: 0px;
      margin-left: 4px;
    }
  }
}
