@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: 100px auto;

  .navigation {
    width: 30%;
    height: fit-content;
    text-transform: capitalize;
    margin: auto;
    max-width: config.$max-widthHeigh;
    user-select: none;
    padding: 10px;
    @include mixins.row-space-between-center();
    text-transform: uppercase;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: 50%;
    }
    @include mixins.tabletLandscape {
      width: 50%;
    }

    .nav {
      width: fit-content;
      font-size: small;

      &:hover {
        cursor: pointer;
        color: config.$dark;
      }
    }

    .navActive {
      width: fit-content;
      font-size: medium;
      font-family: "OpenSansRegular";
    }
  }

  .info {
    width: 80%;
    max-width: config.$max-widthHeigh;
    margin: 50px auto;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletLandscape {
      width: config.$content-widthTablet;
    }

    .box {
      @include mixins.row-space-between-center();

      @include mixins.mobile {
        display: flex;
        flex-direction: column;
      }
      @include mixins.allDesktop {
        min-height: 850px;
      }

      .imageBox {
        width: 48%;

        @include mixins.mobile {
          width: 100%;
        }
      }

      .infoBox {
        width: 48%;

        @include mixins.mobile {
          width: 100%;
        }
      }
    }

    .row {
      display: flex;
      flex-direction: row;
      align-items: first baseline;
    }
  }
}

.gridLayout,
.publicationLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 8px;
  margin: auto;
  margin-top: 12px;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: 100%;
  }

  .testimonial {
    padding: 12px;
    text-align: left;
    border: 1px solid config.$lightgrey;
    @include mixins.row-space-between-center();
    font-family: "OpenSansRegular";

    &:hover {
      color: config.$brand;
      border: 1px solid config.$brand;
      cursor: pointer;
    }
  }

  .award {
    padding: 12px;
    border: 1px solid config.$lightgrey;
    text-align: left;

    h3 {
      margin-top: 4px;
      font-family: "OpenSansRegular";
    }
  }
}

.publicationLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 8px;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: 100%;
  }

  .publication {
    @include mixins.row-space-between-center();
    flex-direction: row-reverse;
    text-align: left;
    align-items: first baseline;
    margin-bottom: 8px;

    p {
      margin-left: 4px;
    }

    p::first-letter {
      font-size: 1.5rem;
    }
  }
}
