@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 100px;

  .info {
    text-align: center;
    margin: 50px 0px;

    p {
      width: 60%;
      max-width: config.$max-widthHeigh;
      margin: 12px auto;
      color: config.$grey;
      text-align: left;

      @include mixins.mobile {
        width: calc(100% - 24px);
      }
      @include mixins.tabletPortrait {
        width: 80%;
      }
      @include mixins.tabletLandscape {
        width: 80%;
      }
    }
  }
}

.gridLayout,
.publicationLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 8px;
  margin: auto;
  margin-top: 12px;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;

  @include mixins.mobile {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletLandscape {
    width: config.$content-widthTablet;
  }

  .item {
    padding: 8px;
    height: fit-content;
    text-align: left;
    border: 1px solid config.$grey;
    @include mixins.border-radius(5px);
    @include mixins.row-space-between-center();

    &:hover {
      color: config.$brand;
      border: 1px solid config.$brand;
      cursor: pointer;
    }
  }

  .award {
    padding: 8px;
    height: fit-content;
    border: 1px solid config.$grey;
    @include mixins.border-radius(5px);
  }
}

.publicationLayout {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    width: 80%;
  }
  @include mixins.tabletLandscape {
    width: 80%;
  }

  .publication {
    margin: auto;
    padding-bottom: 12px;
    color: config.$grey;
  }
}
