@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  h1,
  h2,
  h3 {
    text-transform: uppercase;
  }

  .button {
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;

    button {
      @include mixins.button(config.$brand, config.$black, config.$white);
    }
  }
}

.services {
  position: relative;
  text-align: center;
  background: config.$dark;
  color: config.$white;
  padding: 100px 0px;

  @include mixins.mobile {
    padding-bottom: 90px;
  }

  .light {
    margin-top: 12px !important;
  }

  .infoBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 16px;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
    width: config.$content-width;
    max-width: config.$max-widthHeigh;
    direction: rtl;

    @include mixins.mobile {
      display: flex;
      flex-direction: column;
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletLandscape {
      width: config.$content-widthTablet;
    }

    .info {
      width: 95%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;

      button {
        @include mixins.button(config.$brand, config.$black, config.$white);
        margin-top: 12px;
      }

      @include mixins.mobile {
        width: 100%;
      }

      .light {
        margin: 8px 0px !important;
      }
    }

    .imageBox {
      position: relative;
      width: 100%;
      aspect-ratio: 16 / 9;

      .icon {
        position: absolute;
        z-index: 3;
        right: -30px;
        bottom: 10px;

        &:hover {
          cursor: pointer;
          color: config.$brand;
        }

        @include mixins.mobile {
          display: none;
        }
      }
    }
  }
}
