@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  p {
    color: config.$white;
  }

  .button {
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;

    button {
      @include mixins.button(config.$brand, config.$dark, config.$white);
    }
  }
}

.services {
  position: relative;
  text-align: center;
  background: config.$dark;
  color: config.$white;
  padding-top: 150px;

  @include mixins.mobile {
    padding-top: 100px;
  }

  .light {
    margin-top: 12px !important;
  }

  .infoBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 16px;
    align-items: center;
    margin: auto;
    padding-bottom: 150px;
    width: config.$content-width;
    max-width: config.$max-widthHeigh;
    direction: rtl;

    @include mixins.mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-bottom: 100px;
    }
    @include mixins.tabletPortrait {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    @include mixins.tabletLandscape {
      width: config.$content-widthTablet;
    }

    .info {
      width: config.$content-width;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      direction: ltr;

      button {
        @include mixins.button(config.$brand, config.$dark, config.$white);
        margin-top: 12px;
      }

      @include mixins.mobile {
        margin: auto;
        width: calc(100% - 24px);
      }
      @include mixins.tabletPortrait {
        margin: auto;
        width: config.$content-widthTablet;
      }

      .light {
        margin: 8px 0px !important;
      }

      .row {
        display: flex;
        flex-direction: row;
        align-items: first baseline;

        p {
          margin-left: 8px;
        }
      }
    }

    .imageBox {
      position: relative;
      width: 100%;
      aspect-ratio: 16 / 9;
      overflow: hidden;
      border: 1px solid red;
    }

    .imageInner {
      width: 100%;
      height: 100%;
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
      will-change: transform;
    }

    .imageBox:hover .imageInner {
      transform: scale(1.02);
    }
  }
}
