@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.information {
  text-align: center;
  margin: auto;
  background: config.$dark;
  padding: 100px 0px;
  color: config.$white;

  .text {
    margin: auto;
    width: config.$content-width;
    max-width: config.$max-widthHeigh;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletLandscape {
      width: config.$content-widthTablet;
    }
  }

  .light {
    margin: 12px 0px !important;
  }
}

.services {
  position: relative;
  text-align: center;
  background: config.$dark;
  color: config.$white;
  padding: 24px 0px;
  padding-bottom: 120px;

  @include mixins.mobile {
    padding-bottom: 90px;
  }

  .light {
    margin-top: 12px !important;
  }

  .infoBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 16px;
    align-items: center;
    margin: 24px auto;
    width: config.$content-width;
    max-width: config.$max-widthHeigh;

    p {
      text-align: left;
    }

    @include mixins.mobile {
      display: flex;
      flex-direction: column;
      width: calc(100% - 24px);
      margin-bottom: 70px;
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletLandscape {
      width: config.$content-widthTablet;
    }

    .info {
      width: 95%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .light {
        margin: 8px 0px !important;
      }
    }

    .imageBox {
      position: relative;
      width: 100%;
      border: 1px solid transparent;
      background: linear-gradient(config.$black, config.$black) padding-box,
        linear-gradient(120deg, config.$black, config.$white, config.$black)
          border-box;
      background-size: 200% 100%;
      animation: shimmer 10s linear infinite;
    }

    @keyframes shimmer {
      0% {
        background-position: 200% 0;
      }
      100% {
        background-position: -200% 0;
      }
    }

    .image {
      user-select: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.projects {
  margin: 100px auto;
  text-align: center;

  .gridLayout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 24px;
    margin: auto;
    margin-top: 24px;

    .imageBox {
      position: relative;
      aspect-ratio: 16 / 9;
      cursor: pointer;

      .image {
        transition: transform 0.4s ease;
        user-select: none;
      }
      .overlay {
        position: absolute;
        inset: 0;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.4s ease;
        @include mixins.transparentBackground(0.4, config.$lightgrey);
      }
      .overlay h4 {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: config.$black;
        user-select: none;
        opacity: 0;
        transition: opacity 0.4s ease;
      }
    }

    .imageBox:hover .overlay {
      opacity: 1;
    }
    .imageBox:hover .overlay h4 {
      opacity: 1;
    }
    .imageBox:hover .image {
      transform: scale(1.05);
    }

    @include mixins.mobile {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletLandscape {
      width: config.$content-widthTablet;
    }
  }
}
