@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.information {
  text-align: center;
  margin: 100px auto;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tabletLandscape {
    width: config.$content-widthTablet;
  }
  @include mixins.tabletPortrait {
    width: config.$content-widthTablet;
  }

  h3 {
    margin-top: 24px;
    color: config.$grey;

    @include mixins.mobile {
      width: 100%;
    }
  }
}

.services {
  text-align: center;

  .infoBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 8px;
    align-items: center;
    margin: 24px auto;
    text-align: left;
    width: config.$content-width;
    max-width: config.$max-widthHeigh;

    @include mixins.mobile {
      display: flex;
      flex-direction: column;
      width: calc(100% - 24px);
    }

    @include mixins.tabletLandscape {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }

    .info {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 8px;
    }

    .imageBox {
      width: 100%;
      position: relative;
      aspect-ratio: 16 / 9;

      .image {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.projects {
  margin: 100px auto;
  text-align: center;

  .gridLayout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 16px;
    margin: auto;
    margin-top: 24px;

    .imageBox {
      position: relative;
      aspect-ratio: 16 / 9;

      .image {
        &:hover {
          @include mixins.background-anime();
          cursor: pointer;
        }
      }

      h5 {
        position: absolute;
        z-index: 2;
        left: 50%;
        bottom: 8px;
        transform: translateX(-50%);
        color: config.$white;
        user-select: none;
      }
    }

    @include mixins.mobile {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      width: calc(100% - 24px);
    }
    @include mixins.tabletLandscape {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
  }
}
