@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.information {
  text-align: center;
  margin: auto;
  background: config.$dark;
  padding: 100px 0px;
  color: config.$white;

  .text {
    margin: auto;
    width: config.$content-width;
    max-width: config.$max-widthHeigh;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletLandscape {
      width: config.$content-widthTablet;
    }
  }

  .light {
    margin: 12px 0px !important;
  }
}

.services {
  position: relative;
  text-align: center;
  background: config.$dark;
  color: config.$white;
  padding: 24px 0px;

  .light {
    margin-top: 12px !important;
  }

  .infoBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 8px;
    align-items: center;
    margin: 50px auto;
    text-align: left;
    width: config.$content-width;
    max-width: config.$max-widthHeigh;

    @include mixins.mobile {
      display: flex;
      flex-direction: column;
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletLandscape {
      width: config.$content-widthTablet;
    }

    .info {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px 8px;

      .light {
        margin: 8px 0px !important;
      }
    }

    .imageBox {
      width: 100%;
      position: relative;
      aspect-ratio: 16 / 9;

      .image {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.projects {
  margin: 100px auto;
  text-align: center;

  .gridLayout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 16px;
    margin: auto;
    margin-top: 24px;

    .imageBox {
      position: relative;
      aspect-ratio: 16 / 9;

      .image {
        &:hover {
          @include mixins.background-anime();
          cursor: pointer;
        }
      }

      h5 {
        position: absolute;
        z-index: 2;
        left: 50%;
        bottom: 8px;
        transform: translateX(-50%);
        color: config.$white;
        user-select: none;
      }
    }

    @include mixins.mobile {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      width: calc(100% - 24px);
    }
    @include mixins.tabletPortrait {
      width: config.$content-widthTablet;
    }
    @include mixins.tabletLandscape {
      width: config.$content-widthTablet;
    }
  }
}
