$background: #ffffff;
$white: #ffffff;
$grey: #a3a8ab;
$lightGrey: #d1d5d7;
$text: #3b4144;
$dark: #23282b;
$brand: #a81d36;

$max-width: 1600px;
$max-Height: 900px;
$max-navigation: 700px;
$content-width: 95%;
$content-widthText: 80%;
