$background: #f7f9fb;
$black: #000000;
$white: #ffffff;
$grey: #8d8e91;
$lightgrey: #d1d3d4;
$brand: #a81d36;
$dark: #222831;

$max-widthHeigh: 1500px;
$content-width: 80%;
$content-widthTablet: 90%;
