$background: #f7f9fb;
$black: #000000;
$white: #ffffff;
$grey: #8c8c8c;
$lightgrey: #d1d3d4;
$brand: #a81d36;
$dark: #000000;

$max-widthHeigh: 1500px;
$content-width: 80%;
$content-widthTablet: 90%;

$card-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
