$background: #f7f9fb;
$black: #000000;
$white: #ffffff;
$grey: #8c8c8c;
$lightgrey: #c8c6c6;
$brand: #a81d36;
$dark: #000000;

$max-widthHeigh: 1500px;
$content-width: 95%;
$content-widthTablet: 95%;
