@use "config" as config;
@use "sass:color";

$screen-mobile: 700px;
$screen-tablet: 1400px;
$screen-large: 2000px;
$screen-fourK: 6000px;

@mixin mobile {
  @media (max-width: #{$screen-mobile}) {
    @content;
  }
}
@mixin tablet {
  // Landscape orientation
  @media (min-width: #{$screen-mobile}) and (max-width: #{$screen-tablet}) and (orientation: landscape) {
    @content;
  }
}
@mixin tabletPortrait {
  // Portrait orientation
  @media (min-width: #{$screen-mobile}) and (max-width: #{$screen-tablet}) and (orientation: portrait) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$screen-tablet} ) and (max-width: #{$screen-large}) {
    @content;
  }
}
@mixin fourK {
  @media (min-width: #{$screen-large} ) and (max-width: #{$screen-fourK}) {
    @content;
  }
}
@mixin allDesktop {
  @media (min-width: #{$screen-tablet} ) {
    @content;
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin button($color, $subColor) {
  width: 150px;
  height: 40px;
  background: $color;
  border: 1px solid $color;
  font-size: config.$small-font;
  color: $subColor;
  @include border-radius(5px);

  @include allDesktop() {
    &:hover {
      cursor: pointer;
      color: $subColor;
      border: 1px solid $color;
      background: config.$background;
    }
  }
}

@mixin input() {
  padding: 12px;
  height: 50px;
  color: config.$black;
  font-size: config.$small-font;
  outline: none;
  border: 1px solid config.$lightgrey;
  font-weight: 300;
  @include border-radius(5px);

  &:focus {
    outline: none;
    border: 1px solid config.$yellow;
  }
}

@mixin transparentBackground($alpha, $color) {
  background: color.adjust($color, $alpha: -$alpha);
}

@mixin row-space-between-center() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// animations
@mixin background-anime() {
  -webkit-animation: kenburns-top 15s ease-out both;
  animation: kenburns-top 15s ease-out both;

  @-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
      transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
      transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
      transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
      transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
      transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
      transform-origin: top;
    }
  }
}
