@use "config" as config;
@use "mixins" as mixins;

@font-face {
  font-family: "TitilliumThin";
  src: url("../assets/fonts/Titillium-Thin.otf") format("truetype");
}
@font-face {
  font-family: "TitilliumLight";
  src: url("../assets/fonts/Titillium-Light.otf") format("truetype");
}
@font-face {
  font-family: "TitilliumRegular";
  src: url("../assets/fonts/Titillium-Regular.otf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: config.$background;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

html {
  font-size: clamp(16px, 1vw + 0.5rem, 20px);
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
p {
  font-size: 1em;
  line-height: 1.4;
}
small {
  font-size: 0.875em;
}

.notFound {
  margin: auto;
  width: config.$content-width;
  margin-top: 150px;
  text-align: center;
}

.menu {
  position: fixed;
  z-index: 5;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.main {
  min-height: 100dvh;
}

.icon {
  &:hover {
    color: config.$brand;
    cursor: pointer;
  }
}

.appload {
  position: relative;
  background: config.$black;
  height: 100vh;

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 120px;
  }
}

.scrollArrow {
  position: fixed;
  right: 35px;
  bottom: 35px;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;

  @include mixins.mobile {
    display: none;
  }
  @include mixins.tabletPortrait {
    display: none;
  }
  @include mixins.tabletLandscape {
    display: none;
  }
}

// input file
label.file input[type="file"] {
  display: none;
}
.file {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid config.$grey;
  padding: 8px;
  color: config.$grey;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
}
.file:hover {
  color: config.$brand;
  border: 1px solid config.$brand;
}

.swiper-button-next::after {
  color: config.$white;
  scale: 0.6;

  @include mixins.mobile {
    scale: 0.4;
  }
}
.swiper-button-prev::after {
  color: config.$white;
  scale: 0.6;

  @include mixins.mobile {
    scale: 0.4;
  }
}
.swiper-pagination {
  position: relative;
  bottom: 10px !important;

  .swiper-pagination-bullet {
    background: config.$white !important;
    opacity: 0.5 !important;
  }
  .swiper-pagination-bullet-active {
    background: config.$brand !important;
    opacity: 1 !important;
  }
}

::selection {
  background: config.$brand;
  color: config.$white;
}

::-moz-selection {
  background: config.$brand;
  color: config.$white;
}
