@use "config" as config;
@use "mixins" as mixins;

@font-face {
  font-family: "English";
  src: url("../assets/fonts/ZalandoSansSemiExpanded-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "EnglishLight";
  src: url("../assets/fonts/ZalandoSansSemiExpanded-Light.ttf")
    format("truetype");
}
@font-face {
  font-family: "EnglishMedium";
  src: url("../assets/fonts/ZalandoSansSemiExpanded-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "EnglishBold";
  src: url("../assets/fonts/ZalandoSansSemiExpanded-Bold.ttf")
    format("truetype");
}
@font-face {
  font-family: "EnglishExtraBold";
  src: url("../assets/fonts/ZalandoSansSemiExpanded-ExtraBold.ttf")
    format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  user-select: none;
  background: config.$background;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

html {
  font-size: clamp(16px, 1vw + 0.5rem, 20px);
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
p {
  font-size: 1em;
  line-height: 1.5;
}
small {
  font-size: 0.875em;
}

.notFound {
  margin: auto;
  width: config.$content-width;
  margin-top: 150px;
  text-align: center;
}

.menu {
  position: fixed;
  z-index: 5;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.main {
  min-height: 100dvh;
}

.swiper-button-next::after {
  color: config.$white;
  scale: 0.6;
}
.swiper-button-prev::after {
  color: config.$white;
  scale: 0.6;
}
